
main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.geographical-content{
    flex: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gironde{
    
}

.non-gironde{
    width: 25%;
}

.non-gironde svg{
    width: 100%;
}

.non-gironde .other{
    list-style: none;
    margin: 0;
    padding: 0;
}


.non-gironde .other .color,
.non-gironde .other .no-data{
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 0.5em;

}

.non-gironde .other .color{
    border-radius: 50%;

    border: 1px solid #DDD;
}

.non-gironde .other .no-data::before{
    content: '?';
    
    font-weight: bold;
    color: red;
}

.layered-maps {
  position: relative;
}
  .layered-maps .background-map {
    z-index: 1;
  }
    .layered-maps .background-map svg {
      fill: cornsilk;
    }

  .layered-maps .layers {
    position: absolute;
    z-index: 100;
  }
    .layered-maps .layers .layers-layer {
      display: none;
    }
    .layered-maps .layers .layers-layer.active {
      display: block;
    }

    .layered-maps .layers .layers-layer svg polygon[id]:hover,
    .layered-maps .layers .layers-layer svg polygon[id]:focus {
      cursor: pointer;
      fill: red;
      stroke-width: 2;
      stroke: blue;
    }

  .layered-maps .area-type-selection-list {
    list-style: none;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
    .layered-maps .area-type-selection-list > li {
      display: inline-block;
      margin-right: 1em;
    }

  .layered-maps .area-type-selection a:link,
  .layered-maps .area-type-selection a:visited {
    text-decoration: underline;
  }

  .layered-maps .area-type-selection a:hover,
  .layered-maps .area-type-selection a:focus {
    text-decoration: none;
  }

  .layered-maps .area-type-selection a.active {
    color: inherit;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
  }



.discrete{
    opacity: 0.3;
}

.selection-and-details{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.selection{
    border: 1px solid #DDD;
}

.selection input{
    margin: 1em;
}

.details{
    max-height: 70vh;
    overflow: scroll;

    border: 1px solid #DDD;
}







.tabs{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

.tabs li a{
    padding: 1rem;
    width: 8rem;

    color: currentColor;
    text-decoration: none;

    border-radius: 2px;
    border: 1px solid #ddd;

    display: block;
    text-align: center;
}


.migrations-view{
    display: none;
}

.migrations-view:target{
    display: block;
}



/*
    Details
*/


.details ul.tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

}

.details ul.tabs li{
    flex: 1;
    border-left: 1px solid #DDD;
    cursor: pointer;
}

.details ul.tabs li.active{
    font-weight: bold;
    color: #00857e;
}



.detail-content h2{
    text-align: center;
}

.detail-content ul{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.detail-content li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    height: 1.5em;
    margin: 0.2em 0;
}

.detail-content li span{
    text-align: center;
    width: 15em;
    line-height: 1em;
}


.detail-content .bar{
    height: 100%;
    background-color: #00857e;
}

